block variables
include mixin

doctype
html.no-js(lang="zh")
    head
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible", content="ie=edge,chrome=1")

        meta(name="viewport",  content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,shrink-to-fit=no")

        block title
            title 《星梦学院》官方网站-SNH48官方正版授权手游

        block checkOs

        <meta name="keywords" content="星梦学院,星梦学院官网,星梦学院官方网站,星梦学院手游,星梦学园,SNH48,SNH48星梦学院,SNH48手游,SNH48星梦学院手游,SNH48公演,塞纳河,生个女孩,AKB48,星梦学院下载,星梦学院手游下载,星梦学院游戏下载,星梦学院安卓,星梦学院安卓下载,星梦学院iOS,星梦学院ios,星梦学院苹果,星梦学院预约,星梦学院激活码,星梦学院礼包,星梦学院攻略,徐晗,SNH48徐晗,徐伊人,SNH48徐伊人,易嘉爱,SNH48易嘉爱,莫寒,SNH48莫寒,林思意,SNH48林思意,王晓佳,SNH48王晓佳,李晶,SNH48李晶,谢天依,SNH48谢天依,陈观慧,SNH48陈观慧,冯薪朵,SNH48冯薪朵,吴燕文,SNH48吴燕文,李宇琪,SNH48李宇琪,戴萌,SNH48戴萌,许杨玉琢,SNH48许杨玉琢,李钊,SNH48李钊,张语格,SNH48张语格,张丹三,SNH48张丹三,陈思,SNH48陈思,陆婷,SNH48陆婷,林楠,SNH48林楠,鞠婧祎,SNH48鞠婧祎,李艺彤,SNH48李艺彤,黄婷婷,SNH48黄婷婷,曾艳芬,SNH48曾艳芬,陆婷,SNH48陆婷,赵粤,SNH48赵粤,邱欣怡,SNH48邱欣怡,许佳琪,SNH48许佳琪,万丽娜,SNH48万丽娜,刘炅然,SNH48刘炅然">
        <meta name="description" content="《星梦学院》是一款真人音乐舞蹈养成手游，玩家可以在游戏中化身经纪人，签约自己喜爱的SNH48小偶像进行培养，发掘偶像在音乐、舞蹈及演艺等方面的特长，合理安排偶像们工作和培训。在逐步签入更强大队员的同时，通过剧场公演一步步提升团队的知名度，最终成长为女子天团。">
        meta(name="format-detection" content="telephone=no,address=no,email=no")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="renderer" content="webkit")

        <!-- uc强制竖屏 -->
        meta(name="screen-orientation" content="portrait")
        <!-- QQ强制竖屏 -->
        meta(name="x5-orientation" content="portrait")
        <!-- UC强制全屏 -->
        meta(name="full-screen" content="yes")
        <!-- QQ强制全屏 -->
        meta(name="x5-fullscreen" content="true")
        <!-- UC应用模式 -->
        meta(name="browsermode" content="application")
        <!-- QQ应用模式 -->
        meta(name="x5-page-mode" content="app")

        link(rel='shortcut icon' type='image/x-icon' href='image/favicon.ico')

        //- script.
        //-     document.documentElement.addEventListener('gesturestart', function (event) {
        //-         event.preventDefault();
        //-     }, false);

        block styles
    body(ontouchstart="" class="loading")
        <!--[if lt IE 9]>
        p.browserupgrade 抱歉，本网站需要 IE9+ 或现代浏览器。请升级或使用其他浏览器。国产浏览器请使用极速模式，不要使用兼容模式。
        <![endif]-->
        
        .toast-container

        .container
            <div class="top_bar ">
                <div class="top_bar_con ">
                    <a class="top_logo " href="http://game.thedream.cc/ " target="_blank "><img class="pt " src="http://game.thedream.cc/resource/top_logo.jpg " alt="骏梦网络 "></a>

                    <ul class="top_menu clearfix ">

                        <li class="forum ">
                            <a target="_blank " href="http://bbs.thedream.cc ">论坛</a>
                        </li>
                        <li class="pay ">
                            <a target="_blank " href="http://billing.thedream.cc ">充值</a>
                        </li>
                        <li class="regis ">
                            <a target="_blank " href="http://member.thedream.cc/reg_account.html ">注册</a>
                        </li>
                        <li class="regis "><a target="_blank " style="background:none " href="http://game.thedream.cc ">骏梦平台</a></li>
                    </ul>
                </div>
            </div>

            block mainContent
                
        script(src="lib/jquery-1.12.4.min.js")
        script(src="lib/jweixin-1.0.0.js")
        script(src="js/common.js")

        block scripts

        script(src="https://s19.cnzz.com/z_stat.php?id=1262226162&web_id=1261946132" language="JavaScript")
