// footer
.footer
    margin auto
    color #666;
    padding px(30) px(0) 0;
    text-align center

    p 
        margin px(12) 0
    
    .gg
        width 80%
        margin 0 auto
        text-align center
        font-size px(14)
    
    font12
        font-size px(12)
        
        .dark
            opacity .5

.gg2
    position relative
    text-align center
    
    > a:not(.logo)
        img
            width: px(40)
            height: px(40)
    
    .logo
        width px(120)
        .pt
            cursor: pointer

    .icons
        > a
            margin-right px(10)

        img
            width px(40)

    .footer-box
        display flex
        justify-content center
        align-content: center
        align-items: center

        & > *
            margin 0 px(5)

.p1 p, .p2 p, .p3 p
    text-align: center
    font-size: px(10)
.p1 a
    
    color #666
    display inline-block

.brand
    text-align center

.brand_con a img
    margin-top px(10)
    margin-left px(0)

