/*
Stylus variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon_home_width;
}

The large array-like variables contain all information about a single icon
$icon_home = x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet = width height image $spritesheet_sprites;
*/
$arrow_left_name = 'arrow-left';
$arrow_left_x = 28.7rem;
$arrow_left_y = 12.325rem;
$arrow_left_offset_x = -28.7rem;
$arrow_left_offset_y = -12.325rem;
$arrow_left_width = 1.525rem;
$arrow_left_height = 2.375rem;
$arrow_left_total_width = 45.225rem;
$arrow_left_total_height = 27.3rem;
$arrow_left_image = '../image/sprite.png';
$arrow_left = 28.7rem 12.325rem -28.7rem -12.325rem 1.525rem 2.375rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'arrow-left';
$arrow_right_name = 'arrow-right';
$arrow_right_x = 28.7rem;
$arrow_right_y = 9.9rem;
$arrow_right_offset_x = -28.7rem;
$arrow_right_offset_y = -9.9rem;
$arrow_right_width = 1.525rem;
$arrow_right_height = 2.375rem;
$arrow_right_total_width = 45.225rem;
$arrow_right_total_height = 27.3rem;
$arrow_right_image = '../image/sprite.png';
$arrow_right = 28.7rem 9.9rem -28.7rem -9.9rem 1.525rem 2.375rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'arrow-right';
$btn_call_name = 'btn-call';
$btn_call_x = 37.85rem;
$btn_call_y = 6.55rem;
$btn_call_offset_x = -37.85rem;
$btn_call_offset_y = -6.55rem;
$btn_call_width = 6.475rem;
$btn_call_height = 2.025rem;
$btn_call_total_width = 45.225rem;
$btn_call_total_height = 27.3rem;
$btn_call_image = '../image/sprite.png';
$btn_call = 37.85rem 6.55rem -37.85rem -6.55rem 6.475rem 2.025rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'btn-call';
$btn_to_up_name = 'btn-to-up';
$btn_to_up_x = 36.05rem;
$btn_to_up_y = 22.95rem;
$btn_to_up_offset_x = -36.05rem;
$btn_to_up_offset_y = -22.95rem;
$btn_to_up_width = 5.2rem;
$btn_to_up_height = 1.3rem;
$btn_to_up_total_width = 45.225rem;
$btn_to_up_total_height = 27.3rem;
$btn_to_up_image = '../image/sprite.png';
$btn_to_up = 36.05rem 22.95rem -36.05rem -22.95rem 5.2rem 1.3rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'btn-to-up';
$btn_video_s_name = 'btn-video-s';
$btn_video_s_x = 14.675rem;
$btn_video_s_y = 18.05rem;
$btn_video_s_offset_x = -14.675rem;
$btn_video_s_offset_y = -18.05rem;
$btn_video_s_width = 10.575rem;
$btn_video_s_height = 1.525rem;
$btn_video_s_total_width = 45.225rem;
$btn_video_s_total_height = 27.3rem;
$btn_video_s_image = '../image/sprite.png';
$btn_video_s = 14.675rem 18.05rem -14.675rem -18.05rem 10.575rem 1.525rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'btn-video-s';
$btn_video_v_name = 'btn-video-v';
$btn_video_v_x = 14.675rem;
$btn_video_v_y = 16.475rem;
$btn_video_v_offset_x = -14.675rem;
$btn_video_v_offset_y = -16.475rem;
$btn_video_v_width = 10.575rem;
$btn_video_v_height = 1.525rem;
$btn_video_v_total_width = 45.225rem;
$btn_video_v_total_height = 27.3rem;
$btn_video_v_image = '../image/sprite.png';
$btn_video_v = 14.675rem 16.475rem -14.675rem -16.475rem 10.575rem 1.525rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'btn-video-v';
$close_name = 'close';
$close_x = 43.925rem;
$close_y = 18.85rem;
$close_offset_x = -43.925rem;
$close_offset_y = -18.85rem;
$close_width = 0.975rem;
$close_height = 0.975rem;
$close_total_width = 45.225rem;
$close_total_height = 27.3rem;
$close_image = '../image/sprite.png';
$close = 43.925rem 18.85rem -43.925rem -18.85rem 0.975rem 0.975rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'close';
$commit_board_name = 'commit-board';
$commit_board_x = 0;
$commit_board_y = 9.9rem;
$commit_board_offset_x = 0;
$commit_board_offset_y = -9.9rem;
$commit_board_width = 14.625rem;
$commit_board_height = 11.925rem;
$commit_board_total_width = 45.225rem;
$commit_board_total_height = 27.3rem;
$commit_board_image = '../image/sprite.png';
$commit_board = 0 9.9rem 0 -9.9rem 14.625rem 11.925rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'commit-board';
$ercode_name = 'ercode';
$ercode_x = 37.85rem;
$ercode_y = 8.625rem;
$ercode_offset_x = -37.85rem;
$ercode_offset_y = -8.625rem;
$ercode_width = 3.35rem;
$ercode_height = 3.35rem;
$ercode_total_width = 45.225rem;
$ercode_total_height = 27.3rem;
$ercode_image = '../image/sprite.png';
$ercode = 37.85rem 8.625rem -37.85rem -8.625rem 3.35rem 3.35rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'ercode';
$go_down_name = 'go-down';
$go_down_x = 41.3rem;
$go_down_y = 22.95rem;
$go_down_offset_x = -41.3rem;
$go_down_offset_y = -22.95rem;
$go_down_width = 1.825rem;
$go_down_height = 0.95rem;
$go_down_total_width = 45.225rem;
$go_down_total_height = 27.3rem;
$go_down_image = '../image/sprite.png';
$go_down = 41.3rem 22.95rem -41.3rem -22.95rem 1.825rem 0.95rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'go-down';
$icon_name = 'icon';
$icon_x = 36.05rem;
$icon_y = 18.85rem;
$icon_offset_x = -36.05rem;
$icon_offset_y = -18.85rem;
$icon_width = 7.825rem;
$icon_height = 2.45rem;
$icon_total_width = 45.225rem;
$icon_total_height = 27.3rem;
$icon_image = '../image/sprite.png';
$icon = 36.05rem 18.85rem -36.05rem -18.85rem 7.825rem 2.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'icon';
$logo_name = 'logo';
$logo_x = 36.05rem;
$logo_y = 15.6rem;
$logo_offset_x = -36.05rem;
$logo_offset_y = -15.6rem;
$logo_width = 9rem;
$logo_height = 3.2rem;
$logo_total_width = 45.225rem;
$logo_total_height = 27.3rem;
$logo_image = '../image/sprite.png';
$logo = 36.05rem 15.6rem -36.05rem -15.6rem 9rem 3.2rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'logo';
$play_name = 'play';
$play_x = 43.225rem;
$play_y = 8.625rem;
$play_offset_x = -43.225rem;
$play_offset_y = -8.625rem;
$play_width = 2rem;
$play_height = 2rem;
$play_total_width = 45.225rem;
$play_total_height = 27.3rem;
$play_image = '../image/sprite.png';
$play = 43.225rem 8.625rem -43.225rem -8.625rem 2rem 2rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'play';
$s_arrow_left_name = 's-arrow-left';
$s_arrow_left_x = 22.425rem;
$s_arrow_left_y = 21.875rem;
$s_arrow_left_offset_x = -22.425rem;
$s_arrow_left_offset_y = -21.875rem;
$s_arrow_left_width = 1.425rem;
$s_arrow_left_height = 2.4rem;
$s_arrow_left_total_width = 45.225rem;
$s_arrow_left_total_height = 27.3rem;
$s_arrow_left_image = '../image/sprite.png';
$s_arrow_left = 22.425rem 21.875rem -22.425rem -21.875rem 1.425rem 2.4rem 45.225rem 27.3rem '../image/sprite.png?v=5' 's-arrow-left';
$s_arrow_right_name = 's-arrow-right';
$s_arrow_right_x = 20.95rem;
$s_arrow_right_y = 21.875rem;
$s_arrow_right_offset_x = -20.95rem;
$s_arrow_right_offset_y = -21.875rem;
$s_arrow_right_width = 1.425rem;
$s_arrow_right_height = 2.4rem;
$s_arrow_right_total_width = 45.225rem;
$s_arrow_right_total_height = 27.3rem;
$s_arrow_right_image = '../image/sprite.png';
$s_arrow_right = 20.95rem 21.875rem -20.95rem -21.875rem 1.425rem 2.4rem 45.225rem 27.3rem '../image/sprite.png?v=5' 's-arrow-right';
$share_girl_name = 'share-girl';
$share_girl_x = 31.55rem;
$share_girl_y = 6.55rem;
$share_girl_offset_x = -31.55rem;
$share_girl_offset_y = -6.55rem;
$share_girl_width = 6.25rem;
$share_girl_height = 9rem;
$share_girl_total_width = 45.225rem;
$share_girl_total_height = 27.3rem;
$share_girl_image = '../image/sprite.png';
$share_girl = 31.55rem 6.55rem -31.55rem -6.55rem 6.25rem 9rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'share-girl';
$share_name = 'share';
$share_x = 31.55rem;
$share_y = 15.6rem;
$share_offset_x = -31.55rem;
$share_offset_y = -15.6rem;
$share_width = 4.45rem;
$share_height = 10.8rem;
$share_total_width = 45.225rem;
$share_total_height = 27.3rem;
$share_image = '../image/sprite.png';
$share = 31.55rem 15.6rem -31.55rem -15.6rem 4.45rem 10.8rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'share';
$slogan_name = 'slogan';
$slogan_x = 0;
$slogan_y = 21.875rem;
$slogan_offset_x = 0;
$slogan_offset_y = -21.875rem;
$slogan_width = 20.9rem;
$slogan_height = 5.425rem;
$slogan_total_width = 45.225rem;
$slogan_total_height = 27.3rem;
$slogan_image = '../image/sprite.png';
$slogan = 0 21.875rem 0 -21.875rem 20.9rem 5.425rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'slogan';
$star_name = 'star';
$star_x = 44.375rem;
$star_y = 6.55rem;
$star_offset_x = -44.375rem;
$star_offset_y = -6.55rem;
$star_width = 0.6rem;
$star_height = 0.525rem;
$star_total_width = 45.225rem;
$star_total_height = 27.3rem;
$star_image = '../image/sprite.png';
$star = 44.375rem 6.55rem -44.375rem -6.55rem 0.6rem 0.525rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'star';
$tab_0_hover_name = 'tab-0-hover';
$tab_0_hover_x = 42.05rem;
$tab_0_hover_y = 24.3rem;
$tab_0_hover_offset_x = -42.05rem;
$tab_0_hover_offset_y = -24.3rem;
$tab_0_hover_width = 1.45rem;
$tab_0_hover_height = 1.45rem;
$tab_0_hover_total_width = 45.225rem;
$tab_0_hover_total_height = 27.3rem;
$tab_0_hover_image = '../image/sprite.png';
$tab_0_hover = 42.05rem 24.3rem -42.05rem -24.3rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-0-hover';
$tab_0_name = 'tab-0';
$tab_0_x = 42.6rem;
$tab_0_y = 21.35rem;
$tab_0_offset_x = -42.6rem;
$tab_0_offset_y = -21.35rem;
$tab_0_width = 1.45rem;
$tab_0_height = 1.45rem;
$tab_0_total_width = 45.225rem;
$tab_0_total_height = 27.3rem;
$tab_0_image = '../image/sprite.png';
$tab_0 = 42.6rem 21.35rem -42.6rem -21.35rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-0';
$tab_1_hover_name = 'tab-1-hover';
$tab_1_hover_x = 43.55rem;
$tab_1_hover_y = 24.3rem;
$tab_1_hover_offset_x = -43.55rem;
$tab_1_hover_offset_y = -24.3rem;
$tab_1_hover_width = 1.45rem;
$tab_1_hover_height = 1.45rem;
$tab_1_hover_total_width = 45.225rem;
$tab_1_hover_total_height = 27.3rem;
$tab_1_hover_image = '../image/sprite.png';
$tab_1_hover = 43.55rem 24.3rem -43.55rem -24.3rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-1-hover';
$tab_1_name = 'tab-1';
$tab_1_x = 40.55rem;
$tab_1_y = 24.3rem;
$tab_1_offset_x = -40.55rem;
$tab_1_offset_y = -24.3rem;
$tab_1_width = 1.45rem;
$tab_1_height = 1.45rem;
$tab_1_total_width = 45.225rem;
$tab_1_total_height = 27.3rem;
$tab_1_image = '../image/sprite.png';
$tab_1 = 40.55rem 24.3rem -40.55rem -24.3rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-1';
$tab_2_hover_name = 'tab-2-hover';
$tab_2_hover_x = 28.7rem;
$tab_2_hover_y = 14.75rem;
$tab_2_hover_offset_x = -28.7rem;
$tab_2_hover_offset_y = -14.75rem;
$tab_2_hover_width = 1.45rem;
$tab_2_hover_height = 1.45rem;
$tab_2_hover_total_width = 45.225rem;
$tab_2_hover_total_height = 27.3rem;
$tab_2_hover_image = '../image/sprite.png';
$tab_2_hover = 28.7rem 14.75rem -28.7rem -14.75rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-2-hover';
$tab_2_name = 'tab-2';
$tab_2_x = 36.05rem;
$tab_2_y = 24.3rem;
$tab_2_offset_x = -36.05rem;
$tab_2_offset_y = -24.3rem;
$tab_2_width = 1.45rem;
$tab_2_height = 1.45rem;
$tab_2_total_width = 45.225rem;
$tab_2_total_height = 27.3rem;
$tab_2_image = '../image/sprite.png';
$tab_2 = 36.05rem 24.3rem -36.05rem -24.3rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-2';
$tab_3_hover_name = 'tab-3-hover';
$tab_3_hover_x = 37.55rem;
$tab_3_hover_y = 24.3rem;
$tab_3_hover_offset_x = -37.55rem;
$tab_3_hover_offset_y = -24.3rem;
$tab_3_hover_width = 1.45rem;
$tab_3_hover_height = 1.45rem;
$tab_3_hover_total_width = 45.225rem;
$tab_3_hover_total_height = 27.3rem;
$tab_3_hover_image = '../image/sprite.png';
$tab_3_hover = 37.55rem 24.3rem -37.55rem -24.3rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-3-hover';
$tab_3_name = 'tab-3';
$tab_3_x = 39.05rem;
$tab_3_y = 24.3rem;
$tab_3_offset_x = -39.05rem;
$tab_3_offset_y = -24.3rem;
$tab_3_width = 1.45rem;
$tab_3_height = 1.45rem;
$tab_3_total_width = 45.225rem;
$tab_3_total_height = 27.3rem;
$tab_3_image = '../image/sprite.png';
$tab_3 = 39.05rem 24.3rem -39.05rem -24.3rem 1.45rem 1.45rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'tab-3';
$table1_name = 'table1';
$table1_x = 31.55rem;
$table1_y = 0;
$table1_offset_x = -31.55rem;
$table1_offset_y = 0;
$table1_width = 13.675rem;
$table1_height = 6.5rem;
$table1_total_width = 45.225rem;
$table1_total_height = 27.3rem;
$table1_image = '../image/sprite.png';
$table1 = 31.55rem 0 -31.55rem 0 13.675rem 6.5rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'table1';
$table2_name = 'table2';
$table2_x = 14.675rem;
$table2_y = 9.9rem;
$table2_offset_x = -14.675rem;
$table2_offset_y = -9.9rem;
$table2_width = 13.975rem;
$table2_height = 6.525rem;
$table2_total_width = 45.225rem;
$table2_total_height = 27.3rem;
$table2_image = '../image/sprite.png';
$table2 = 14.675rem 9.9rem -14.675rem -9.9rem 13.975rem 6.525rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'table2';
$title_game_name = 'title-game';
$title_game_x = 36.05rem;
$title_game_y = 21.35rem;
$title_game_offset_x = -36.05rem;
$title_game_offset_y = -21.35rem;
$title_game_width = 6.5rem;
$title_game_height = 1.55rem;
$title_game_total_width = 45.225rem;
$title_game_total_height = 27.3rem;
$title_game_image = '../image/sprite.png';
$title_game = 36.05rem 21.35rem -36.05rem -21.35rem 6.5rem 1.55rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'title-game';
$title_girl_name = 'title-girl';
$title_girl_x = 37.85rem;
$title_girl_y = 13.625rem;
$title_girl_offset_x = -37.85rem;
$title_girl_offset_y = -13.625rem;
$title_girl_width = 6.5rem;
$title_girl_height = 1.55rem;
$title_girl_total_width = 45.225rem;
$title_girl_total_height = 27.3rem;
$title_girl_image = '../image/sprite.png';
$title_girl = 37.85rem 13.625rem -37.85rem -13.625rem 6.5rem 1.55rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'title-girl';
$title_news_name = 'title-news';
$title_news_x = 37.85rem;
$title_news_y = 12.025rem;
$title_news_offset_x = -37.85rem;
$title_news_offset_y = -12.025rem;
$title_news_width = 6.5rem;
$title_news_height = 1.55rem;
$title_news_total_width = 45.225rem;
$title_news_total_height = 27.3rem;
$title_news_image = '../image/sprite.png';
$title_news = 37.85rem 12.025rem -37.85rem -12.025rem 6.5rem 1.55rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'title-news';
$turn_name = 'turn';
$turn_x = 41.25rem;
$turn_y = 8.625rem;
$turn_offset_x = -41.25rem;
$turn_offset_y = -8.625rem;
$turn_width = 1.925rem;
$turn_height = 2.475rem;
$turn_total_width = 45.225rem;
$turn_total_height = 27.3rem;
$turn_image = '../image/sprite.png';
$turn = 41.25rem 8.625rem -41.25rem -8.625rem 1.925rem 2.475rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'turn';
$up_video_board_name = 'up-video-board';
$up_video_board_x = 0;
$up_video_board_y = 0;
$up_video_board_offset_x = 0;
$up_video_board_offset_y = 0;
$up_video_board_width = 31.5rem;
$up_video_board_height = 9.85rem;
$up_video_board_total_width = 45.225rem;
$up_video_board_total_height = 27.3rem;
$up_video_board_image = '../image/sprite.png';
$up_video_board = 0 0 0 0 31.5rem 9.85rem 45.225rem 27.3rem '../image/sprite.png?v=5' 'up-video-board';
$spritesheet_width = 45.225rem;
$spritesheet_height = 27.3rem;
$spritesheet_image = 'NaNrem';
$spritesheet_sprites = $arrow_left $arrow_right $btn_call $btn_to_up $btn_video_s $btn_video_v $close $commit_board $ercode $go_down $icon $logo $play $s_arrow_left $s_arrow_right $share_girl $share $slogan $star $tab_0_hover $tab_0 $tab_1_hover $tab_1 $tab_2_hover $tab_2 $tab_3_hover $tab_3 $table1 $table2 $title_game $title_girl $title_news $turn $up_video_board;
$spritesheet = 45.225rem 27.3rem '../image/sprite.png' $spritesheet_sprites;

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  spriteWidth($icon_home)
}

.icon-email {
  sprite($icon_email)
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
spriteWidth($sprite) {
  width: $sprite[4];
}

spriteHeight($sprite) {
  height: $sprite[5];
}

spritePosition($sprite) {
  background-position: $sprite[2] $sprite[3];
}

spriteSize($sprite) {
  background-size: $sprite[6] $sprite[7];
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

sprite($sprite) {
  spriteImage($sprite)
  spritePosition($sprite)
  spriteSize($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of Stylus

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

sprites($spritesheet_sprites);
*/
sprites($sprites) {
  for $sprite in $sprites {
    $sprite_name = $sprite[9];
    .{$sprite_name} {
      sprite($sprite);
    }
  }
}

.icon-arrow-left
  sprite($arrow_left);
.icon-arrow-right
  sprite($arrow_right);
.icon-btn-call
  sprite($btn_call);
.icon-btn-to-up
  sprite($btn_to_up);
.icon-btn-video-s
  sprite($btn_video_s);
.icon-btn-video-v
  sprite($btn_video_v);
.icon-close
  sprite($close);
.icon-commit-board
  sprite($commit_board);
.icon-ercode
  sprite($ercode);
.icon-go-down
  sprite($go_down);
.icon-icon
  sprite($icon);
.icon-logo
  sprite($logo);
.icon-play
  sprite($play);
.icon-s-arrow-left
  sprite($s_arrow_left);
.icon-s-arrow-right
  sprite($s_arrow_right);
.icon-share-girl
  sprite($share_girl);
.icon-share
  sprite($share);
.icon-slogan
  sprite($slogan);
.icon-star
  sprite($star);
.icon-tab-0-hover
  position relative
  spriteWidth($tab_0_hover)
  spriteHeight($tab_0_hover)

  &:before
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_0)

  &:after
    z-index 1
    opacity 0
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_0_hover)

  &:hover,&.active
    &:after
      opacity 1

.icon-tab-0
  sprite($tab_0);
.icon-tab-1-hover
  position relative
  spriteWidth($tab_1_hover)
  spriteHeight($tab_1_hover)

  &:before
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_1)

  &:after
    z-index 1
    opacity 0
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_1_hover)

  &:hover,&.active
    &:after
      opacity 1

.icon-tab-1
  sprite($tab_1);
.icon-tab-2-hover
  position relative
  spriteWidth($tab_2_hover)
  spriteHeight($tab_2_hover)

  &:before
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_2)

  &:after
    z-index 1
    opacity 0
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_2_hover)

  &:hover,&.active
    &:after
      opacity 1

.icon-tab-2
  sprite($tab_2);
.icon-tab-3-hover
  position relative
  spriteWidth($tab_3_hover)
  spriteHeight($tab_3_hover)

  &:before
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_3)

  &:after
    z-index 1
    opacity 0
    content: " "
    position absolute
    left 0
    top 0
    sprite($tab_3_hover)

  &:hover,&.active
    &:after
      opacity 1

.icon-tab-3
  sprite($tab_3);
.icon-table1
  sprite($table1);
.icon-table2
  sprite($table2);
.icon-title-game
  sprite($title_game);
.icon-title-girl
  sprite($title_girl);
.icon-title-news
  sprite($title_news);
.icon-turn
  sprite($turn);
.icon-up-video-board
  sprite($up_video_board);
